/* Footer Section */
.footer {
    background-color: #0f2a3f;
    padding: 1.5rem 0;
    width: 100%; 
    margin: 0; 
    box-sizing: border-box;
  }
  
  .footer-container {
    max-width: 72rem; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (min-width: 640px) {
    .footer-container {
      flex-direction: row;
    }
  }
  
  .footer-text {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }
  
  @media (min-width: 640px) {
    .footer-text {
      text-align: left;
      margin-bottom: 0;
    }
  }
  
  /* Back to Top Button */
  .back-to-top {
    background-color: #081b29;
    width: 5rem;
    padding: 0.5rem 0;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .back-to-top:hover {
    transform: scale(1.05);
    background-color: #12283f;
  }
  